<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Data</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md-12 col-md-12">
                    <h3>Latest Mars News</h3>
                    <h4>{{redplanet.news_title}}</h4>
                    <p> {{redplanet.news_paragraph}} </p>
                    
                </div>
            </div>


            <div class="row">

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h3>Featured Mars Image</h3>
                    <p>
                        <img src= "{{redplanet.feature_image}}" alt="feature image" width=400px />
                        {{redplanet.feature_image}}
                    </p>    
                </div>



                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h5>Mars Facts</h5>
                    <p>
                        {{redplanet.mars_facts | safe}}
                    </p>

                </div>
            
            </div>


            <div class=row>
                
                <h3>Mars Hemispheres</h3>

                {%for hemispheres in redplanet.hemispheres%}
                
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <p><img src= "{{hemispheres.img_url}}" alt="{{hemispheres.title}}" width=200px /></p>
                    <h5>{{hemispheres.title}} </h5>
                </div>

                {%endfor%}



            </div>



        </div>



    </div>
    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>

</html>